<div class="project-form">
  <h2>Create Project</h2>
  <ul>
  <%= form_for(@project, remote: true) do |f| %>
    <li>
      <%= render 'shared/error_messages', object: f.object %>
    </li>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Project title" %>
    </li>
    <li>
    <%= f.submit "Submit" %>
    </li>
  <% end %>
  <ul>
</div>
