<div class="container">
  <div class="row">
    <div class="col-1-3">
      <%= form_for(@project, :html => { :class => "new-task-form" }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :title %>
        <%= f.text_area :title %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
